
extends ../layouts/index

block content 
    div(class='py-10')
        h1(class='text-4xl my-10 font-extrabold text-center') Bienes 
            span(class='font-normal') Raices
        h2(class='text-center text-2xl font-extrabold')= page

        div(class='mt-8 mx-auto max-w-md')
            div(class='bg-white py-8 px-4 shadow')
                form(action="", method="POST", class='space-y-5')
                    div
                        label(for='name' class='block text-sm uppercase text-gray-600 mb-2 font-bold') Nombre
                        input(
                            type="text", 
                            name='name', 
                            id='name', 
                            placeholder='Ingresa tu nombre completo'
                            class='w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400',
                        ) 
                    div
                        label(for='email' class='block text-sm uppercase text-gray-600 mb-2 font-bold') E-mail
                        input(
                            type="email", 
                            name='email', 
                            id='email', 
                            placeholder='Ingresa tu email'
                            class='w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400',
                        ) 
                    div
                        label(for='password' class='block text-sm uppercase text-gray-600 mb-2 font-bold') Contrase単a
                        input(
                            type="password", 
                            name='password', 
                            id='password', 
                            placeholder='Ingresa contrase単a'
                            class='w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400',
                        ) 
                    div
                        label(for='password_confirm' class='block text-sm uppercase text-gray-600 mb-2 font-bold') Confirma tu Contrase単a
                        input(
                            type="password", 
                            name='password_confirm', 
                            id='password_confirm', 
                            placeholder='Repite tu contrase単a'
                            class='w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400',
                        ) 
                    
                    input(
                        type="submit", 
                        value='Crear cuenta', 
                        class='w-full bg-gray-800 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded-md cursor-pointer',
                    )
              
