
extends ../layouts/index

block content 
    div(class='py-10')
        h1(class='text-4xl my-10 font-extrabold text-center') Bienes 
            span(class='font-normal') Raices
        h2(class='text-center text-2xl font-extrabold')= page

        if errors
            console.log(errors)
            div(class='relative my-5 mt-8 mx-auto max-w-md') 
                ul
                    each error in errors
                        li(class='bg-red-100 border border-red-400 text-red-700 px-1 py-1 mb-1 rounded text-center')= error.msg
        

        div(class='mt-8 mx-auto max-w-md')
            div(class='bg-white py-8 px-4 shadow')
                form(action="/auth/register", method="POST", class='space-y-5')
                    div
                        label(for='name' class='block text-sm uppercase text-gray-600 mb-2 font-bold') Nombre
                        input(
                            type="text",
                            name='name',
                            id='name',
                            placeholder='Ingresa tu nombre completo',
                            class='w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400'
                            value = user ? user.name : ''
                        ) 
                    div
                        label(for='email' class='block text-sm uppercase text-gray-600 mb-2 font-bold') E-mail
                        input(
                            type="email",
                            name='email',
                            id='email',
                            placeholder='Ingresa tu email',
                            class='w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400',
                            value= user ? user.email : ''
                        ) 
                    div
                        label(for='password' class='block text-sm uppercase text-gray-600 mb-2 font-bold') Contraseña
                        input(
                            type="password", 
                            name='password', 
                            id='password', 
                            placeholder='Ingresa contraseña'
                            class='w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400',
                        ) 
                    div
                        label(for='password_confirm' class='block text-sm uppercase text-gray-600 mb-2 font-bold') Confirma tu Contraseña
                        input(
                            type="password", 
                            name='password_confirm', 
                            id='password_confirm', 
                            placeholder='Repite tu contraseña',
                            class='w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400',
                        ) 
                    
                    input(
                        type="submit", 
                        value='Crear cuenta', 
                        class='w-full bg-gray-800 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded-md cursor-pointer',
                    )

                    div(class='flex items-center justify-between')
                        a(href='/auth/login', class='text-gray-500 text-xs hover:text-gray-700 ') ¿Ya tienes cuenta? Inicia sesión
                        a(href='/auth/forgot-password', class='text-gray-500 text-xs hover:text-gray-700') ¿Olvidaste tu contraseña?
              
